@import "flex-bootstrap-table.css";
@import "navbar-events.css";
@import "account.css";
@import "home.css";

/*General*/
footer {
  z-index: 99;
}

.smooth-transition-three {
  transition: .3s;
}

figure {
  margin-bottom: 0 !important;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  width: 60px;
  height: 60px;
  padding: 8px 12px;
  border-radius: 30px;
  font-size: 11px;
}

@media screen and (max-width: 767px) {
  #back-to-top {
    bottom: 220px;
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
  }
}

.progress,
.progress>div {
  font-size: smaller;
}

@media (min-width: 2100px) {
  .container {
    max-width: 1920px;
  }

  .progress,
  .progress>div {
    height: 30px;
    font-size: large;
  }
}

/*Padding*/
.pb-26 {
  padding-bottom: 19rem !important;
  /*padding-bottom: 26rem !important; Will need to be this when we have more main navigation.*/
}

@media only screen and (max-width: 767px) {

  /*for boostrap xs*/
  .main-content {
    padding-bottom: 10rem !important;
  }
}

/*Loading Screen*/
#loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #15181d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-screen-text {
  color: #aebfdb;
}

.rotate {
  animation: rotation 1.2s infinite linear;
}

.hide-loading-screen {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s, opacity .2s linear;
}

.show-loading-screen {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}