/*General*/
footer{
  z-index:99;
}
.smooth-transition-three{
  transition: .3s;
}
figure{
  margin-bottom: 0!important;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index:99;
  width: 60px;
  height: 60px;
  padding: 8px 12px;
  border-radius: 30px;
  font-size: 11px;
}
@media screen and (max-width: 767px){
  #back-to-top {
    bottom: 220px;
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
  }
}
@media (min-width: 2100px){
  .container {
      max-width: 1920px;
  }
  .progress, .progress > div {
    height: 30px;
  }
}

/*Navbar*/
.nav-link {
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding-left: 20px;
}
.navbar-nav {
  padding: 20px;
  padding-bottom: 0px;
}
.second-nav{
  position: -webkit-sticky;
  position: sticky;
  top:167px;
  z-index: 1020;
}
nav{
  opacity: 0.94;
}
.navbar-expand-md .navbar-collapse {
  flex-direction: column;
  align-items: flex-end;
}
.top-bottom-nav{
  transition: .3s;
}
.sticky-top{
  margin-bottom: 0px;
}
.active-page{
  border-bottom: 3px solid gold;
  transition: .5s;
}
.active-subpage{
  border-bottom: 3px solid gold;
  transition: .5s;
}
/*individual hover colors*/
ul.navbar-nav li:not(.active-page):not(.active-subpage){
  box-sizing:border-box;
  border-bottom: 3px solid transparent;
  transition: .5s;
}
ul.navbar-nav li:hover, ul.navbar-nav li:hover > a.moving-nav-link {  
  margin-top:-10px;
  transition: .2s;
}
ul.navbar-nav li:hover, ul.navbar-nav li{  
  height: 100%;
}
ul.navbar-nav li:hover, ul.navbar-nav li:hover > a.static-nav-link {  
  margin-top: 0px;
  transition: 0s;
}
ul.navbar-nav li:hover:nth-child(4n+1) {  
  border-bottom: 3px solid #9370DB;
  color: #9370DB;
}
ul.navbar-nav li:hover:nth-child(4n+2) {  
  border-bottom: 3px solid #1E90FF;
  color: #1E90FF;
}
ul.navbar-nav li:hover:nth-child(4n+3) {  
  border-bottom: 3px solid #CD5C5C;
  color: #CD5C5C;
}
ul.navbar-nav li:hover:nth-child(4n+4) {  
  border-bottom: 3px solid #716857;
  color: #716857;
}

/*Padding*/
.pb-26 {
  padding-bottom: 26rem !important;
}
@media only screen and (max-width: 767px) { /*for boostrap xs*/
  .main-content{
    padding-bottom: 10rem !important;
  }
}

/*Loading Screen*/
#loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #15181d;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#loading-screen-text{
  color: #aebfdb;
}
.rotate {
  animation: rotation 1.2s infinite linear;
}
.hide-loading-screen {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s, opacity .2s linear;
}
.show-loading-screen {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Table Styles */
.table-responsive-stack .table-responsive-stack-thead {
  font-weight: bold;
  min-width: 300px;
}

@media screen and (max-width: 767px) {
  td:first-child{
    padding-left: 7.5px;
  }
  .table-responsive-stack td, .table-responsive-stack th {
    display:block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .table-responsive-stack tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 3px solid #ccc; /*row splitting line info*/
    display:block;
  }
  .table-responsive-stack td {
    float: left\9;
    width:100%;
  }
}
