/*Navbar*/
.nav-link {
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding-left: 20px;
}
.navbar-nav {
  padding: 20px;
  padding-bottom: 0px;
}
nav{
  opacity: 0.85;
}
.navbar-expand-md .navbar-collapse {
  flex-direction: column;
  align-items: flex-end;
}
a.nav-link{
  transition-delay: 10s;
  padding-bottom: 30px;
  border-bottom: 3px solid transparent;
}
a.nav-link:hover{
  border-bottom: 3px solid skyblue;
  color: skyblue;
}