/*Navbar*/
.navbar-nav.character-nav {
    padding: 0px;
}

.character-nav>li.nav-item>a.nav-link {
    padding-bottom: 0px;
}

.character-nav {
    padding-bottom: 0px;
}

@media only screen and (max-width: 767px) {

    /*for boostrap xs*/
    .main-content {
        padding-bottom: 18rem !important;
    }
}

/*Character Header*/
#characterName {
    margin-bottom: 0;
    width: 110%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#characterId {
    padding-left: 15px;
}

#faction-img-holder {
    background: radial-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0) 70%);
    padding: 10px;
    width: 80px;
    height: 80px;
}

#faction-img-holder>img {
    position: relative;
    top: -5%;
    left: -10%;
}

.character-favorite-btn {
    font-size: large;
    padding: 3px;
    margin: 0 !important;
    height: auto;
    letter-spacing: 0;
    text-transform: none;
}

#not-logged-in-mobile-favorite-btn-container {
    margin-bottom: 2.5rem;
}

.not-logged-in-dropdown {
    font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {

    /*for boostrap > xs*/
    #faction-img-holder {
        position: relative;
        left: 31%;
    }
}

@media only screen and (max-width: 767px) {

    /*for boostrap xs*/
    #characterId {
        padding-left: 0px;
        text-align: center;
    }
}