/*Navbar*/
.navbar-nav.character-nav {
    padding: 0px;
}

.character-nav>li.nav-item>a.nav-link {
    padding-bottom: 0px;
}

.character-nav {
    padding-bottom: 0px;
}

@media only screen and (max-width: 767px) {

    /*for boostrap xs*/
    .main-content {
        padding-bottom: 18rem !important;
    }
}

/*Character Header*/
#characterName {
    margin-bottom: 0;
}

#characterId {
    padding-left: 15px;
}

@media only screen and (max-width: 767px) {

    /*for boostrap xs*/
    #characterId {
        padding-left: 0px;
        text-align: center;
    }
}