.aurax-progress{
    background-color: #c29ffa!important;
}

#nextAurax{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

@media only screen and (min-width: 768px) { /*for boostrap > xs*/
    nav{
        opacity: 1;
    }
}

input[type=checkbox][disabled] + span {
    color: #ccc;
}

.bootstrap-table{
    padding-bottom: 10px;
}

@media only screen and (min-width: 768px) { /*for boostrap > xs*/
    .table th:first-child,
    .table td:first-child{
        position: sticky;
        left: 0;
    }
    .table th:first-child{
        background-color: #ffffff;
    }
    .table tr:nth-child(odd) td:first-child{
        background-color: #eeeeee;
    }
    .table tr:nth-child(even) td:first-child{
        background-color: #ffffff;
    }
    tbody tr:hover,
    tbody tr:hover >
    td:first-child {
        background-color: #dddddd!important;
    }
}

.flash-border{
    outline: gold 10px solid!important;
    outline-offset: -10px;
}

.search-input{
    font-size: medium;
}
@media only screen and (max-width: 767px) { /*for boostrap xs*/
    .search-input{
        font-size: small;
    }
}
