<%= if length(@sessions) == 0 do %>
  No sessions for this character
<% else %>
  <%= for %SacaStats.Session{} = session <- @sessions do %>
    <%= link to: Routes.character_path(@conn, :session, session.name, session.login.timestamp) do %>
      <%= SacaStatsWeb.CharacterView.pretty_session_summary(assigns, session) %>
    <% end %>
  <% end %>
<% end %>
