<%= if length(@sessions) == 0 do %>
  <div class="w-100 text-center">
    No recent sessions for this character.
  </div>
<% else %>
  <%= for %SacaStats.Session{} = session <- @sessions do %>
    <%= link to: Routes.character_path(@conn, :session, session.name, session.login.timestamp) do %>
      <%= SacaStatsWeb.CharacterView.pretty_session_summary(assigns, session) %>
    <% end %>
  <% end %>
<% end %>
