<%= if not String.starts_with?(@conn.request_path, "/character/") do %>
    <p class="alert alert-info text-center" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger text-center" role="alert"><%= get_flash(@conn, :error) %></p>
<% end %>
<%= @inner_content %>
